<div class="delete-dialog">
  <div class="icon-circle">
    <mat-icon>delete_forever</mat-icon>
  </div>

  <h2>Potvrdi Brisanje</h2>

  <p>
    Da li ste sigurni da želite obrisati potkategoriju
    <strong>"{{ data.name }}"</strong>?
  </p>

  <p class="warning" *ngIf="data.productCount > 0">
    Ova potkategorija ima {{ data.productCount }} proizvoda i backend neće dozvoliti brisanje.
  </p>

  <div class="actions">
    <button mat-stroked-button type="button" (click)="cancel()">
      <mat-icon>close</mat-icon>
      OTKAŽI
    </button>

    <button mat-raised-button color="warn" type="button" [disabled]="data.productCount > 0" (click)="confirm()">
      <mat-icon>delete</mat-icon>
      OBRIŠI
    </button>
  </div>
</div>